@mixin ep-progress--loading ($offset, $circumference) {
  @keyframes ep-progress--loading {
    0% {
      opacity: 0.5;
      stroke-dashoffset: $circumference;
    }
    50% {
      opacity: 0.8;
      stroke-dashoffset: $offset;
    }
    100% {
      opacity: 0.5;
      stroke-dashoffset: $circumference;
    }
  }
}

/*@mixin ep-half-progress--loading ($circumference, $double_circumference) {
  @keyframes ep-half-progress--loading {
    0% {
      opacity: 0.5;
      stroke-dashoffset: $circumference;
    }
    25% {
      opacity: 0.8;
      stroke-dashoffset: 0;
    }
    50% {
      opacity: 0.8;
      stroke-dashoffset: $double_circumference;
    }
    75% {
      opacity: 0.5;
      stroke-dashoffset: 0;
    }
    100% {
      opacity: 0.5;
      stroke-dashoffset: $circumference;
    }
  }
}*/

@mixin ep-half-progress--loading ($circumference) {
  @keyframes ep-half-progress--loading {
    0% {
      opacity: 0.5;
      stroke-dashoffset: $circumference;
    }
    50% {
      opacity: 0.8;
      stroke-dashoffset: 0;
    }
    100% {
      opacity: 0.5;
      stroke-dashoffset: $circumference;
    }
  }
}

@mixin ep-progress--loading__rotation {
  @keyframes ep-progress--loading__rotation {
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin ep-progress--init__default ($offset, $circumference) {
  @keyframes ep-progress--init__default {
    0% {
      stroke-dashoffset: $circumference;
    }
    100% {
      stroke-dashoffset: $offset;
    }
  }
}

@mixin ep-progress--init__rs ($offset, $circumference) {
  @keyframes ep-progress--init__rs {
    0% {
      stroke-dashoffset: $circumference;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: $offset;
    }
  }
}

@mixin ep-progress--init__reverse ($offset, $circumference, $double_circumference) {
  @keyframes ep-progress--init__reverse {
    0% {
      stroke-dashoffset: $circumference;
    }
    50% {
      stroke-dashoffset: $double_circumference;
    }
    100% {
      stroke-dashoffset: $offset;
    }
  }
}

@mixin ep-progress--init__loop ($offset, $circumference, $negative_circumference) {
  @keyframes ep-progress--init__loop {
    0% {
      stroke-dashoffset: $circumference;
    }
    33% {
      stroke-dashoffset: 0;
    }
    66% {
      stroke-dashoffset: $negative_circumference;
    }
    100% {
      stroke-dashoffset: $offset;
    }
  }
}

@mixin ep-progress--init__bounce ($offset, $in_offset, $out_offset, $circumference) {
  @keyframes ep-progress--init__bounce {
    0% {
      animation-timing-function: linear;
      stroke-dashoffset: $circumference;
    }
    33% {
      stroke-dashoffset: $out_offset;
    }
    66% {
      stroke-dashoffset: $in_offset;
    }
    100% {
      stroke-dashoffset: $offset;
    }
  }
}

@mixin ep-dot--init__rs ($dotStart, $dotEnd, $dot360) {
  @keyframes ep-dot--init__rs {
    0% {
      transform: rotate($dotStart);
    }
    50% {
      transform: rotate($dot360);
    }
    100% {
      transform: rotate($dotEnd);
    }
  }
}

@keyframes ep-dot--init__loop {
  0% {
    transform: rotate(var(--ep-dot-start));
  }
  33% {
    transform: rotate(var(--ep-dot-360));
  }
  66% {
    transform: rotate(var(--ep-dot-360));
  }
  100% {
    transform: rotate(var(--ep-dot-loop-end));
  }
}

@keyframes ep-dot--init__reverse {
  0% {
    transform: rotate(var(--ep-dot-360));
  }
  50% {
    transform: rotate(var(--ep-dot-360));
  }
  100% {
    transform: rotate(var(--ep-dot-end));
  }
}

@keyframes ep-dot--init__bounce {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes ep-dot--init__disabled {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
