.ep-circle--progress {
  animation-timing-function: ease-in-out;
  &.animation__default {
    animation-name: ep-progress--init__default;
  }
  &.animation__rs {
    animation-name: ep-progress--init__rs;
  }
  &.animation__bounce {
    animation-name: ep-progress--init__bounce;
  }
  &.animation__reverse {
    animation-name: ep-progress--init__reverse;
  }
  &.animation__loop {
    animation-name: ep-progress--init__loop;
  }
}

.ep-circle--loading {
  &.animation__loading {
    animation-name: ep-progress--loading, ep-progress--loading__rotation;
    animation-iteration-count: infinite !important;
    animation-duration: 2s, 1s !important;
    animation-timing-function: ease-in-out, linear;
  }
}

.ep-half-circle--loading {
  &.animation__loading {
    animation-name: ep-half-progress--loading;
    animation-iteration-count: infinite !important;
    animation-duration: 2s !important;
    animation-timing-function: ease-in-out;
  }
}

.ep-half-circle--empty, .ep-circle--empty {
  &.ep-circle--nodata {
    opacity: 0.5;
  }
}

.ep-circle--progress__dot-container {
  animation-timing-function: ease-in-out;
  &.animation__rs {
    animation-name: ep-dot--init__rs;
  }
  &.animation__bounce {
    animation-fill-mode: forwards;
    animation-name: ep-dot--init__disabled;
  }
  &.animation__reverse {
    animation-name: ep-dot--init__reverse;
  }
  &.animation__loop {
    animation-name: ep-dot--init__loop;
  }
  &.ep-half-circle-progress__dot{
    &.animation__bounce {
      animation-fill-mode: forwards;
      animation-name: ep-dot--init__disabled;
    }
    &.animation__loop {
      animation-fill-mode: forwards;
      animation-name: ep-dot--init__disabled;
    }
  }
}

@include ep-progress--init__default(var(--ep-stroke-offset), var(--ep-circumference));
@include ep-progress--init__rs(var(--ep-stroke-offset), var(--ep-circumference));
@include ep-progress--init__bounce(
                var(--ep-stroke-offset),
                var(--ep-bounce-in-stroke-offset),
                var(--ep-bounce-out-stroke-offset),
                var(--ep-circumference)
);
@include ep-progress--init__reverse(
                var(--ep-reverse-stroke-offset),
                var(--ep-circumference),
                var(--ep-double-circumference)
);
@include ep-progress--init__loop(
                var(--ep-loop-stroke-offset),
                var(--ep-circumference),
                var(--ep-negative-circumference)
);
@include ep-progress--loading(var(--ep-loading-stroke-offset), var(--ep-circumference));
@include ep-half-progress--loading(var(--ep-circumference));
@include ep-progress--loading__rotation();
@include ep-dot--init__rs(var(--ep-dot-start), var(--ep-dot-end), var(--ep-dot-360));
