@mixin ep-progress--loading ($offset, $circumference) {
  @keyframes ep-progress--loading {
    0% {
      opacity: 0.5;
      stroke-dashoffset: $circumference;
    }
    50% {
      opacity: 1;
      stroke-dashoffset: $offset;
    }
    100% {
      opacity: 0.5;
      stroke-dashoffset: $circumference;
    }
  }
}

@mixin ep-progress--init__default ($offset, $circumference) {
  @keyframes ep-progress--init__default {
    0% {
      stroke-dashoffset: $circumference;
    }
    100% {
      stroke-dashoffset: $offset;
    }
  }
}

@mixin ep-progress--init__rs ($offset, $circumference) {
  @keyframes ep-progress--init__rs {
    0% {
      stroke-dashoffset: $circumference;
    }
    50% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: $offset;
    }
  }
}

@mixin ep-progress--init__reverse ($offset, $circumference) {
  @keyframes ep-progress--init__reverse {
    0% {
      stroke-dashoffset: $circumference;
    }
    50% {
      stroke-dashoffset: calc(#{$circumference} * 2);
    }
    100% {
      stroke-dashoffset: calc(#{$circumference} * 2 + #{$offset});
    }
  }
}

@mixin ep-progress--init__loop ($offset, $circumference) {
  @keyframes ep-progress--init__loop {
    0% {
      stroke-dashoffset: $circumference;
    }
    50% {
      stroke-dashoffset: 0;
    }
    70% {
      stroke-dashoffset: calc(#{$circumference} * -1);
    }
    100% {
      stroke-dashoffset: calc((#{$circumference} * -1) - (#{$circumference} - #{$offset}));
    }
  }
}

@mixin ep-progress--init__bounce ($offset, $circumference) {
  @keyframes ep-progress--init__bounce {
    0% {
      animation-timing-function: linear;
      stroke-dashoffset: $circumference;
    }
    50% {
      stroke-dashoffset: calc(#{$offset} - 50);
    }
    70% {
      stroke-dashoffset: calc(#{$offset} + 50);
    }
    100% {
      animation-timing-function: ease-out;
      stroke-dashoffset: $offset;
    }
  }
}
